{% extends "AppProyecto/padre.html" %}
{% load static %}


{% block titulo %}
<h1 class="mb-5">Autores</h1>
{% endblock %}


{% block contenido_que_cambia %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
            <ul class="list-inline mb-2">
                <li><a class="btn btn-primary" href="{% url 'crearFormAutor' %}">Crear Autor</a></li>
            </ul>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
            <ul class="list-inline mb-0">

                <li><a class="btn btn-primary" href="{% url 'leerAutor' %}">Leer Autores</a></li>
                
            </ul>
        </div>
    </div>
</div>

{% endblock %}