{% extends "AppProyecto/padre.html" %}
{% load static %}


{% block titulo %}
<h1 class="mb-5">Formulario editar blog: {{ blog }}</h1>
{% endblock %}


{% block contenido_que_cambia %}
<h1 class="mb-1">Editando</h1>

<form action="{% url 'editarBlog' blog.id %}" method="POST" entype="multipart/form-data">{% csrf_token %}


    <table>
        {{ formulario.as_table }}
    </table>



    <input type="submit" value="Enviar">

</form>

<a class="btn btn-success" href="{% url 'blogFormulario' %}">Volver</a>


{% endblock %}